.blog_content h1 {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    font-size: 1.7rem;
}

.blog_content h2 {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    border-left: 2px dashed black;
    padding-left: 0.5rem;
}

.blog_content h3 {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
    border-left: 2px dashed black;
    padding-left: 0.5rem;
}

.blog_content p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    text-align: justify;
    text-justify: inter-character;
}

.blog_content ul {
    list-style-type: disc;
    margin-left: 2.5rem;
}

.blog_content ol {
    list-style-type: decimal;
    display: block;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.blog_content a:link {
    color: #CD5555;
}
.blog_content a:visited {
    color: #CD5555;
}

.codehilite {
    padding: 0.5rem;
}

.admonition {
    margin: 1rem;
    color: #cb6c20;
}
.admonition a:link {
    color: #00688B;
}
.admonition a:visited {
    color: #00688B;
}
